#main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 15px 50px 30px;

  padding: 0px; 
  height: 100%;
}
#sec {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
h1 {
  text-shadow: 2px 2px 5px brown;
}
#rcorners2 {
  border-radius: 15px 50px 30px;
  background: #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px; 
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}